*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px 10px;
}

h1 {
  text-align: center;
}

.list--container {
  width: 90%;
  margin: 20px  auto;
}

.hide--list--container {
  display: none;
}

h2 {
  text-align: center;
  padding: 10px 0;
}

.list--container .book-list {
  list-style: none;
}

.show--border {
  border: 2px solid black;
}

.link-container li {
  padding: 0 5px;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
}

.book-list li {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.book-list li:nth-child(odd) {
  background-color: rgba(128, 128, 128, 0.308);
}

.title--and--author {
  display: flex;
  gap: 0.3rem;
}

.add--btn {
  display: block;
  margin-left: auto;
  padding: 5px 20px;
  cursor: pointer;
}

.divider {
  width: 60px;
  height: 2px;
  border-radius: 10px;
  margin: 10px auto;
  background-color: #000;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
  padding: 10px;
}

form > div {
  width: 100%;
}

input {
  width: 100%;
  padding: 5px;
}

.header--nav--and--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  padding: 5px 10px;
}

.link-container {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link-container li:nth-child(2) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.time--and--date {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
}

.hide--form {
  display: none;
}

.contact--info {
  padding: 20px;
}

.hide--contact--info {
  display: none;
}

.contact--info p {
  align-self: flex-start;
}

.contact--info ul {
  margin-left: 4rem;
}

.hide--container {
  display: none;
}

.active--link {
  color: blue;
}

footer {
  border: 2px solid black;
  padding: 5px 10px;
  width: 90%;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

@media (min-width: 768px) {
  .list--container,
  .contact--info {
    width: 500px;
    margin: auto;
  }

  footer {
    width: 100%;
  }

  form {
    width: 400px;
  }
}
